.App {
    text-align: center;

}

body {
    background-color: #f2f2f2;
}

//General layout for cards
.cards {
    background-color: white;
    border-radius: 5px;
    padding: 2.2rem;
    margin: 1rem 0px;
    box-shadow: 0 2px 2px 0 rgba(191, 191, 191, 0.2), 0 1px 5px 0 rgba(191, 191, 191, 0.19);
    border: 1px solid rgb(217, 217, 217);
    ul {
        li {
            margin: 1em 0;
            button {
                margin-left: .5rem;
                &.disabled {
                    cursor: not-allowed;
                    background-color: #f2f2f2
                }
            }

        }
    }
}

#search-bar {
    .input-group-prepend {
        .input-group-text {
            background: transparent;
            border-right: none;
        }

    }
    #movie-search {
        border-left: none;
    }
}

//Pagination
.paginationNumbers {
    padding: 0 0.1em;
}

.hidden {
    visibility: hidden;
}


//Animate the scroll to thank you bar
html {
    scroll-behavior: smooth;
}